<h1>@<%= @user.username %>'s Profile & Tweets</h1>

<p>
    <%= @user.name %>
</p>

<p>
    <%= @user.location %>
</p>

<p>
    <%= @user.bio %>
</p>

<p>
    <% if current_user.following.include?(@user.id) %>
            <%= link_to "Following", unfollow_path(id: @user.id), class: "btn btn-light", id: "unfollow-btn" %>
        <% else %>
            <% if current_user.id != @user.id %>
                <%= link_to "Follow", following_path(id: @user.id), class: "btn btn-success" %>
            <% end %>
    <% end %>    
</p>

<% @user.tweets.each do |tweet| %>
    <p>@<%= link_to @user.username, show_user_path(id: tweet.user.id) %> <%= time_ago_in_words(tweet.created_at)%> ago</p>
    <p><%= tweet.message.html_safe %></p>
<% end %>